@media screen and (max-width: 767px) {
	.container
	{
		.navbar-header
		{
			margin-left: -15px;
			margin-right: -15px;
		}
	}
	.navbar-toggle
	{
		margin-left: 15px;
	}
	.main-menu-container
	{
		position: fixed;
		width: 300px;
		background-color: rgba(0,0,0,0.3);
	}
	.main-menu-container
	{
		position: fixed;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1001;
	}
	.main-menu-container
	{
		.navbar-nav,.mn15
		{
			margin: 0 !important;
		}
	}
	.hover-menu-list
	{
		display: block;
		>li
		{
			margin: 10px;
			>a
			{
				padding: 0;
				border:0;
			}
		}
	}
	#mobile-nav
	{
		display: block !important;
	}
	#bs-navbar
	{
		display: none;
	}
	.navbar-brand
	{
		height: auto !important;
		padding: 16px 30px;
		>img
		{
			width: 120px;
		}
	}
	.header-container
	{
		padding: 0;
	}
	.cart-button
	{
		display: block;
		float: right;
		margin: 30px 15px 30px 0;
		background: transparent;
		border: 0;
		color: #333;
		.fa-shopping-cart
		{
			font-size: 18px;
			vertical-align: sub;
		}
	}
	.hover-container
	{
		display: none;
	}
	.product-home
	{
		margin-bottom: 25px;
		>img
		{
			width: 100%;
		}
	}
	.product-home-info
	{
		position: static;
	}
	.right-container
	{
		padding-left: 0;
	}
	 
	.social-list > li
	{
		padding: 5px;
	}
	.footer-service,.footer-service,.footer-jcarousel
	{
		display: none;
	}
	.footer-picto
	{
		padding: 15px 0 10px;
	}
	.footer-picto-wrapper
	{
		>div
		{
			text-align: center;
		}
	}
	.footer-picto
	{
		>*
		{
			display: block !important;
		}
	}
	.spotlight-product-item
	{
		width: 100%;
		>img
		{
			margin: 0 auto;
		}
	}
	.footer-picto-wrapper
	{
		margin-left: -15px;
		margin-right: -15px;
		border-bottom: 1px solid #d9d9d9;
		padding-bottom: 10px;
		margin-bottom: 25px;
	}
	.follow-footer
	{
		border-top: 1px solid #d9d9d9;
	}
	.product-preview
	{
		>a
		{
			>img
			{
				width: 100%;
			}
		}
	}
	.product-list-head
	{
		padding: 10px 0;
		>h2
		{
			width: 100%;
			padding: 0;
			font-size: 18px;
			background: none;
			>span
			{
				padding: 0;
			}
		}
	}
	.all-product.product-gird-2 
	{
		.row
		{
			>div
			{
				float: left;
			}
		}
	}
	.category-container
	{
		display: none;
	}
	.product-detail
	{
		>h3 ,>p
		{
			text-align: center;
			margin: 10px 0;
		}
	}
	.tb-space
	{
		padding:10px 0;
		margin: 0 10px 20px;
		border-bottom: 1px solid #cecece;
	}
	.fancybox-wrap
	{
		left: 10px !important;
	}
	.fancybox-close
	{
		right: -10px;
	}
	.gift-ico
	{
		display: none;
	}
	.mob-space
	{
		padding: 10px;
	}
	.article-item-info
	{
		margin-top: 15px;
	}
	.page-step-header
	{
		display: block;
		padding: 0 10px;
		line-height: 59px;
	}
	
	.steps
	{
		display: none;
		&.current-step
		{
			display: block !important;
			border-right: 0;
			float: left;
			& + .steps
			{
				display: block;
				float: right;
				padding-left: 10px;
				border-left: 1px solid #ececec;
				border-right: 0;
				>span
				{
					display: none;
				}
			}
		}
	}
	.header-container
	{
		&.not-index
		{
			margin-left: -15px;
			margin-right: -15px;
			padding: 0 15px;
		}
	}
	.shop-info-wrapper
	{
		text-align: center;
	}
	.shop-info
	{
		margin: 12px 0;
	}
}

  
@media screen and (min-width: 768px) and (max-width: 992px){  
	.right-container
	{
		padding-left: 0px;
		>a
		{
			 box-sizing: border-box;
			float: left;
			margin-bottom: 0;
			width: calc(33.33% - 15px);
			margin-right: 15px;
		}
	}
	.footer-service,.footer-service,.newsletter-subs,.footer-jcarousel
	{
		display: none;
	}
	.select-group > select
	{
		width: 115px;
	}
	.grid-button
	{
		padding: 5px 5px 3px;
	}
	.pagination-container > ul
	{
		>li
		{
			margin: 0 2px;
			>*
			{
				width: 29px;
			}
		}
	}
	.main-menu-wrapper nav ul.hover-menu-list
	{
		max-width: 725px;
	}
	.search-list
	{
		width: 400px;
	}
}

  
@media screen and (min-width: 768px) and (max-width: 1024px){  
	.product-home-info	
	{
		>*
		{
			font-size: 14px !important;
			line-height: 20px;
			margin: 0;
		}
		>h4
		{
			font-size: 11px !important;
		}
		.right-container
		{
			padding-left: 0px;
		}
	}
	#banner
	{
		.caption-content
		{
			>h1
			{
				font-size: 20px;
				margin: 0 0 15px;
			}
			>h5,>button
			{
				 font-size: 12px;
    			 margin: 0 0 12px;
			}
		}
	}
}

@media screen and (min-width: 992px) and (max-width: 1024px){
	
}

@media screen and (min-width: 1025px) and (max-width: 1200px){
}

@media (min-width: 1200px) {
	
}

