// Typography

$font-family-sans-serif:'Lato', sans-serif;;
$navbar-margin-bottom:0;
$font-size-base:14px;
$line-height-base:1.375;
$navbar-height:50px;
$text-color:#000;
/*
$navbar-padding-horizontal:30px;
$input-border-radius:1px;
$input-border-radius-small:1px;


$padding-base-vertical:10px;
$padding-base-horizontal:20px;
$padding-large-vertical:12px;
$padding-large-horizontal:30px;

$font-size-base:13px;
$input-height-small:30px;
$padding-small-vertical:4px;
$padding-small-horizontal:10px;
$font-size-large: 15px;
$input-border-radius-large:1px;
$input-height-lg:42px;*/